/* .bodysection {
    display: flex;
} */

.logo {
    display: flex;
    position: absolute;
    left: 40%;
    top: 10%;
    margin-bottom: 5px;
}

.search {
    display: flex; 
    justify-content: space-between;
    /* gap: 2rem; */
    position: absolute;  
    left: 24%;
    bottom: 65%;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: fit-content;
    height: 40px;
}

.search-icon {
    display: flex;
    justify-content: start;
    margin-left: 30px;
    height: 40px;
}

.input-wrap {
    display: flex;
    width:100%; 
    margin-left: 30px;
    border: none;
    
    
}

input {
    border: none;
    border-style: none;
    padding-left: 5px;
    width: 100%;
}

.icons {
    display: flex;
    /* float: right; */
    justify-content: end;
    margin-right: 36px;
}

.display-searchkey {
    display: flex;
    position: absolute;
    left: 40%;
    bottom: 58%;
    /* width: 15rem;
    height: 2.5rem;
    border: 1px solid lightgray;
    background-color: rgba(211, 211, 211, 0.387);  */
}

.body-button {
    display: flex;
    position: absolute;
    left: 42%;
    bottom: 48%;
    gap: 20px;;
    font-size: 20px;
    width: 20rem;
    height: 40px;
    padding: 0px 8px;
    border-style: none;
    border: none;
} 
/* .btn {
    color: lightgrey;
    width: 150px;
    border-style: none;
    border: none;
} */

.languages{
    display: flex;
    position: absolute;
    left: 38%;
    gap: 10px;
    bottom: 40%;
    color: blue;
    font-size: small;
}